<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Beetl模板引擎配置 -->
    <bean id="beetlConfig" class="org.beetl.ext.spring.BeetlGroupUtilConfiguration" init-method="init">
        <!-- 指定模板文件目录-->
        <property name="root" value="/WEB-INF/template" />
    </bean>

    <bean id="pdfRendererBuilder" class="com.openhtmltopdf.pdfboxout.PdfRendererBuilder" />

    <bean id="pdfWriter" class="com.can.pdf.PdfWriter">
        <property name="pdfRendererBuilder" ref="pdfRendererBuilder" />
        <property name="beetlConfig" ref="beetlConfig" />
        <property name="fontMap">
            <map>
                <!-- key设置为模板文件里的font-family名称 -->
                <entry key="simkai" value="/WEB-INF/font/simkai.ttf"/>
            </map>
        </property>
    </bean>
</beans>